* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  transition: all 0.2s ease-in;
  scroll-behavior: smooth;
  font-family: "Playfair", serif;
}
.page {
  max-width: 1200px;
  min-width: 100vh;
  display: grid;
  grid-template-areas:
    "header"
    "content";
  grid-template-rows: 1fr 9fr;

  /* gap: 1rem; */
}

.content {
  grid-area: content;
  min-height: 89vh;
  padding: 1rem;
  width: 100vw;
  background-color: #f0f0f0;
}

header {
  position: fixed;
  top: 0;
  height: 10%;
  background-color: #f0f0f0;
  width: 100%;
  z-index: 100;
  grid-area: header;
  border-bottom: 2px solid rgb(119, 119, 119);
  padding-bottom: 3rem;
  /* margin-bottom: 2rem; */
}
header a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 18px;
}

nav ul {
  padding: 1rem;
  display: flex;
  list-style: none;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav ul .links {
  display: flex;
  list-style: none;
  gap: 0.8rem;
}

.active {
  /* background: orange; */
  padding: 0.4rem;
  border-radius: 0.5rem;
  text-decoration: underline;
}

nav .btns a {
  display: flex;

  align-items: center;
}

.card {
  box-shadow: 5px 5px 10px 4px rgba(0, 0, 0, 0.2);
  padding: 1rem;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
  padding: 2rem;
}
.login-form .form {
  background-color: rgba(255, 190, 116, 0.788);
  height: 50vh;
  border-radius: 0.8rem;
}

.form-content h2 {
  font-size: 24px;
  text-align: center;
  text-decoration: underline;
  margin-bottom: 0.5rem;
}

.form-row {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
  gap: 0.5rem;
  font-size: 1.2rem;
  align-items: center;
}

.form-row input {
  padding: 0.5rem;
  font-size: 1.2rem;
  border: transparent;
  border-radius: 13px;
}

.form-row input:active {
  outline: orangered;
  /* border:1px solid orange; */
}

.form-row button {
  padding: 0.5rem;
  width: 50%;
  font-weight: 600;
  font-size: 1rem;
  border-radius: 13px;
  cursor: pointer;
}

form a {
  text-decoration: none;
  color: black;
  font-weight: 800;
}

.error {
  color: red;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.disabled {
  pointer-events: none;
}

.tasks nav.flex {
  display: flex;
  gap: 2rem;
  /* background-color: red; */
  border-bottom: 1px solid rgb(197, 196, 196);
}

.tasks nav.flex button {
  background-color: rgb(248, 189, 155);
  padding: 0.5rem;
  border-radius: 0.7rem;
  margin-bottom: 1rem;
  font-weight: 700;
  font-size: 1.4;
  cursor: pointer;
}
.tasks nav.flex button:hover {
  transform: scaleY(1.2);
  background-color: rgb(255, 153, 94);
}

.addtaskform {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid gray;
}

.addtaskform form button{
  border: 1px solid #f0f0f0;
  background-color: rgba(55, 0, 255, 0.692);
  padding:4px ;
  border-radius: 0.7rem;
  cursor: pointer;
  margin-bottom: 4px;

}
.addtaskform h2{
  margin-bottom: 10px;
  text-decoration: underline;
}

.addtaskform form .group {
  display: flex;
  gap: 2rem;
}
.group input {
  margin-bottom: 10px;
  border-radius: 10px;
  font-size: 1.4;
  line-height: 1.4;
  padding: 4px;
}

.group textarea{
  margin-bottom: 10px;
}

.task-table-container{
  margin-top: 20px;
}

.task-table th{
  text-decoration: underline;
  align-items: center;
}
